.twitter,.face, .linkedin, .instagram{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#202c45;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

@media only screen and (max-width: 1040px) {
    .social{
        text-align: center;
        justify-content: center;
    }

}